Flask
flask-cors
pandas
numpy
yfinance
requests
plotly
openpyxl
xlsxwriter
xgboost
scikit-learn
statsmodels
waitress
pdfplumber
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
